@font-face {
    font-family:                Cantarell;
    src:                        url(../otf/cantarell.otf);
    font-weight:                400;
}

html, body {
    font-family:                Cantarell;
    background-color:           #2A2A2A;
    padding:                    0px;
    margin:                     0px;
    height:                     100%;
}

a {
    color:                       #191921;
}

.content {
    background-color:           #F8F8F8;
    min-height:                 100%;
}

.container {
    margin-left:                auto;
    margin-right:               auto;
    width:                      700px;
    padding-bottom:             100px;
}

.shim {
    padding:                    5px;
}

.header .color {
    width:                      12.5%;
    height:                     10px;
    float:                      left;
}

.header .color-r {
    background-color:           #ef2929;
}

.header .color-o {
    background-color:           #fcaf3e;
}

.header .color-y {
    background-color:           #fce94f;
}

.header .color-s {
    background-color:           #e9b96e;
}

.header .color-g {
    background-color:           #8ae234;
}

.header .color-b {
    background-color:           #729fcf;
}

.header .color-i {
    background-color:           #9ba0cf;
}

.header .color-v {
    background-color:           #ad7fa8;
}

.footer {
    font-size:                  0.8em;
    min-height:                 200px;
    color:                      #EEEEEE;
    margin-top:                 20px;
}

.footer .container .fifth {
    width:                      20%;
    float:                      right;
}

.fifth img {
    height:                    200px;
}

.fifth ul {
    list-style-type:           none;
    font-size:                 0.9em;
    color:                     #AEAEAE;
    padding:                   0px;
    margin:                    0px;
}

.fifth li {
    padding:                   0px;
    margin:                    0px;
}

.fifth a {
    color:                     #AEAEAE;
}

.fifth h1 {
    font-size:                 1.2em;
    border-bottom:             1px solid #7B7B7B;
    width:                     100%;
    padding:                   0px;
    margin:                    0px;
    width:                     90%;
}

.clear {
    clear:                      both;
}

.report-entry {
    background-color:          #FCFCFC;
    margin-top:                5px;
    margin-bottom:             5px;
    padding:                   5px;
    border:                    1px solid #BCBCBC;
    -moz-border-radius:        5px;
    -webkit-border-radius:     5px;
    -o-border-radius:          5px;
    border-radius:             5px;
}

span.tag {
    -moz-border-radius:        5px;
    -webkit-border-radius:     5px;
    -o-border-radius:          5px;
    border-radius:             5px;
    padding:                   0px 5px 0px 5px;
    margin:                    0px;
    font-size:                 0.7em;
    font-weight:               bold;
    line-height:               14px;
    color:                     white;
    text-shadow:               0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space:               nowrap;
    vertical-align:            baseline;
}

span.tag-info {
    background-color:         #729fcf;
    border:                   1px solid #3465a4;
    color:                    #EEEEEE;
}
