<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Hello, World{% endblock %}</title>
        <link rel="stylesheet" href = "{{ url_for('static', filename='css/debuild.css') }}" ></link>
    </head>
    <body>
        <div class = 'content' >
            <div class = 'header' >
                <div class = 'color color-r' ></div>
                <div class = 'color color-s' ></div>
                <div class = 'color color-o' ></div>
                <div class = 'color color-y' ></div>
                <div class = 'color color-g' ></div>
                <div class = 'color color-b' ></div>
                <div class = 'color color-i' ></div>
                <div class = 'color color-v' ></div>
                <div class = 'clear' ></div>
            </div>
            <div class = 'container' ><div class = 'shim' >
{% block main %}
{% endblock %}
            </div></div>
        </div>
        <div class = 'footer' >
            <div class = 'container' ><div class = 'shim' >
                <div class = 'fifth' >
                    <img src = '{{ url_for('static', filename='imgs/logo.svg') }}' alt = '' />
                </div>
                <div class = 'fifth' >
                    <h1>Source Code</h1>
                    <ul>
                        <li>
                            <a href = 'https://github.com/paultag/monomoy' >Monomoy</a>
                        </li>
                        <li>
                            <a href = 'https://github.com/paultag/atlantic' >Atlantic</a>
                        </li>
                    </ul>
                </div>
                <div class = 'fifth' >
                    <h1>:</h1>
                </div>
                <div class = 'fifth' >
                    <h1>About</h1>
                    <ul>
                        <li>
                            <a href = 'http://pault.ag/' >Paul's Homepage</a>
                        </li>
                    </ul>
                </div>
                <div class = 'fifth' >
                    <h1>Navbar</h1>
                    <ul>
                        <li>
                            <a href = '/builders' >Builders</a>
                        </li>
                        <li>
                            <a href = '/builds' >Builds</a>
                        </li>
                    </ul>
                </div>
                <div class = 'clear' ></div>
            </div></div>
        </div>
    </body>
</html>
