 {% extends "base.html" %}

{% block title %}Hello, World{% endblock %}
{% block main %}
<h1>{{changes.source}}/{{changes.version}}</h1>
Upload: <a href = '/upload/{{build.build}}' >{{build.build}}</a>
{% for req in build.requirements %}
    <span class = 'tag tag-info' >{{req}}</span>
{% endfor %}
<br />
{% if build.builder != None %}
<h1>buildd</h1>
    <a href = '/builder/{{build.builder.name}}' >{{build.builder.name}}</a>
{% endif %}
<br />
{% if build.finished %}
    Build finished at {{build.finished | humanize}}
{% else %}
    {% if build.builder != None %}
        Build started {{build.builder.when | humanize}}
    {% endif %}
{% endif %}

{% if build.report %}
{% for report in build.report %}
    <h3>{{report}}</h3>
    {% for entry in build.report[report] %}
        <div class = 'report-entry' >{{entry}}</div>
    {% endfor %}
{% endfor %}
{% endif %}
{% endblock %}
