 {% extends "base.html" %}

{% block title %}Builders{% endblock %}
{% block main %}
<h1>{{builder._id}}</h1>
Last checkin {{builder.lastping | humanize}}<br />
{% for cap in builder.capabilities %}
    <span class = 'tag tag-info' >{{cap}}</span>
{% endfor %}
<h1>Pending Jobs</h1>
{% for job in in_prog %}
<a href = '/build/{{job._id}}' >{{job._id}}</a> - {{job.builder.when | humanize}}<br />
{% endfor %}
<h1>Completed Jobs</h1>
{% for job in finished %}
    <a href = '/build/{{job._id}}' >{{job._id}}</a> - {{job.finished | humanize}}<br />
{% endfor %}
{% endblock %}
